.biz-title i.fa{
    font-size: 25px;
}

.form-group label{
    font-size: 13px;
    margin-bottom: 0px;
    color: lightslategray;
}

.row.form-group{
    margin-bottom: 0px;
}

.tbl-dark{
    background-color: rgb(230, 230, 230);
    color: white;
    color: darkslategray;
    border-radius: 15px !important; 
}

.main-content, aside{
    height: calc(100vh);
}

.bg-aside{
    background-color: #E9ECEF;
    color: white;
    color: darkslategray;
}

html, body {
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.bg-biz{
    background-color: #0074E8;
}

.color-biz{
    color: #41AF4B;
}

.text-biz-blue{
    color: #0074E8;
}
.text-biz-green{
    color: #41AF4B;
}

.bg-light-biz{
    background-color: #F1F1F3;
}

.nav .nav-item:hover{
    background-color: white;
}

.nav-tabs .nav-link:hover{
    color: green !important;
}

.second-menu .nav-link{
    color: white;    
}

.second-menu .nav-link:hover{
    color: #0074E8;
    border-radius: 25px;
}

.second-menu .nav-link.active{
    color: #0074E8;
    background-color: white;  
}

.staff-image, .staff-image i{
    width: 175px;
    height: 175px;                
}

.header-image{
    width: 255px;
}

main{
    padding-top: 45px;
}

.biz-height{
    min-height: 100%;
}

aside{
    top: 0px;
    bottom: 0px;
    width: 225px;
}

.bg-aside{
    background-color: #E9ECEF;
    color: white;
    color: darkslategray;
}

/* .tbl-dark{
    background-color: rgb(230, 230, 230);
    color: white;
    color: darkslategray;
    border-radius: 15px !important; 
}
 */
.empsidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-top: 210px;
    width: 220px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: -1;
}

.main div.row, .main-content div.row{
    margin-left: 0px;
    margin-right: 0px;
}

.main:last-child{
    margin-bottom: 48px;
}

.form-date{
    margin-right: 16px;
    width: 170px;
}

.date-timeoff{
    width: 160px;
}

.cal-date{
    width: 60px;
    border: 1px solid grey;
  }

@media screen and (max-width: 768px) {
    .main-content{
        padding-left: 25px; 
    }

    .page-title, .page-title-menu{
        padding-left: 0px; 
        text-align: center;
    }

    .employee-header{
        height: 90px;
    }

    .empsidebar {
        display: none;
    }

    .side-profile-image, #profile_pic{
        display: none;
    }

    .sidebar-name{
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {

    .main-content{
        padding-left: 255px; 
    }

    .page-title, .page-title-menu{
        padding-left: 255px; 
        text-align: left;
    }

    .employee-header{
        height: 115px;
    }

    .empsidebar {
        display: show;
    }

    .side-profile{
        width: 245px;
    }

    .side-profile-image{
        top: 9px;
        left: 56px;
        width: 140px;
        height: 140px;
        border: 2px solid blue;
    }

    .side-profile-image i{
        font-size: 120px;
    }

    .sidebar-name{
        display: show !important;
    }
}    


